@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
.buttonStyle, .home .home-desc a, .about .about-desc input, .order .order-content .order-form button {
  padding: 0.5rem 3rem;
  border: 0.2rem solid lightskyblue;
  border-radius: 50rem;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  text-transform: capitalize;
  background-color: transparent;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.buttonStyle:hover, .home .home-desc a:hover, .about .about-desc input:hover, .order .order-content .order-form button:hover {
  color: #ffffff;
  background-color: lightskyblue;
}

.sectionHeading, .order h2 {
  font-size: 4rem;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.sectionHeading span, .order h2 span {
  padding: 0 1rem;
  color: lightskyblue;
}

.footerTitle, .footer .contact-info h4, .footer .location h4, .footer .quick-links h4, .footer .follow-us h4 {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  padding: 1rem;
}

.footerLink, .footer .location ul li a, .footer .quick-links ul li a, .footer .follow-us ul li a {
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.footerLink:hover, .footer .location ul li a:hover, .footer .quick-links ul li a:hover, .footer .follow-us ul li a:hover {
  color: lightskyblue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-thumb {
  background:lightskyblue;
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

a,
button,
input[button],
input[submit] {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem 1rem;
}

.header {
  max-width: 1200px;
  width: 100%;
  height: 6rem;
  padding: 1rem 8rem;
  background-color: #f0f8ff;
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header .header-logo {
  text-align: center;
  padding: 0 1rem;
}

.header .header-logo img {
  width: 4rem;
  height: auto;
  cursor: pointer;
}

.header .navbar {
  padding: 0 1rem;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .navbar ul li {
  text-align: center;
}

.header .navbar ul li a {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  font-weight: 500;
  color: #000000;
}

.header .navbar ul li a:hover, .header .navbar ul li a.active {
  color: lightskyblue;
  border-bottom: 0.2rem solid lightskyblue;
}

.header #menu-bar {
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
  display: none;
}

.home {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 0;
}

.home .home-desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  text-align: center;
}

.home .home-desc h1 {
  color: #000000;
  padding: 1rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.home .home-desc p {
  color: #333333;
  padding: 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: left;
}

.home .home-desc input {
  margin-top: 3rem;
}

.home .home-image {
  grid-column: 7 / -1;
  text-align: center;
}

.home .home-image img {
  width: 100%;
}

.home::after, .home::before {
  content: "";
  position: absolute;
  top: 0;
  right: -6rem;
  background-color: lightskyblue;
  border-radius: 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 40rem;
  width: 70rem;
  z-index: -2;
  -webkit-animation: animate 1.5s linear 1;
          animation: animate 1.5s linear 1;
}

.home::before {
  top: -7rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(50deg) translateY(-40rem);
            transform: rotate(50deg) translateY(-40rem);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(50deg) translateY(-40rem);
            transform: rotate(50deg) translateY(-40rem);
  }
}

.about {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 50rem;
}

.about .about-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  height: 100%;
  background-image: url(./../../images/about-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
}

.about .about-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.about .about-desc {
  grid-column: 7 / -1;
}

.about .about-desc h2 {
  color: #000000;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.about .about-desc p {
  color: #333333;
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: left;
}

.about .about-desc input {
  margin: 2rem 3rem;
}

.order {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.order h2 {
  grid-column: 1 / -1;
}

.order .order-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  -ms-grid-column: 2;
  grid-column: 2 / 12;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
}

.order .order-content .order-form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  padding: 2rem;
  text-align: center;
}

.order .order-content .order-form input,
.order .order-content .order-form textarea {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  text-transform: inherit;
  background-color: rgba(0, 0, 0, 0.1);
}

.order .order-content .order-form input::-webkit-input-placeholder,
.order .order-content .order-form textarea::-webkit-input-placeholder {
  text-transform: capitalize;
}

.order .order-content .order-form input:-ms-input-placeholder,
.order .order-content .order-form textarea:-ms-input-placeholder {
  text-transform: capitalize;
}

.order .order-content .order-form input::-ms-input-placeholder,
.order .order-content .order-form textarea::-ms-input-placeholder {
  text-transform: capitalize;
}

.order .order-content .order-form input::placeholder,
.order .order-content .order-form textarea::placeholder {
  text-transform: capitalize;
}

.order .order-content .order-form textarea {
  max-width: 100%;
  resize: none;
}

.order .order-content img {
  grid-column: 7 / -1;
  display: block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.footer {
  padding: 3rem 1rem;
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.footer .contact-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  padding: 1rem;
  min-height: 32rem;
}

.footer .contact-info p {
  padding: 1rem;
  font-size: 1.4rem;
}

.footer .contact-info p i {
  font-size: 1.6rem;
  color: lightskyblue;
}

.footer .contact-info p span {
  padding-left: 1rem;
  color: #ffffff;
}

.footer .contact-info p:first-of-type i {
  width: 1.6rem;
}

.footer .contact-info p:first-of-type span {
  text-transform: capitalize;
}

.footer .location {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  padding: 1rem;
  min-height: 32rem;
}

.footer .location ul {
  padding: 1rem;
}

.footer .location ul li {
  padding: 1rem 0;
}

.footer .quick-links {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
  padding: 1rem;
  min-height: 32rem;
}

.footer .quick-links ul {
  padding: 1rem;
}

.footer .quick-links ul li {
  padding: 1rem 0;
}

.footer .follow-us {
  grid-column: 10 / -1;
  padding: 1rem;
  min-height: 32rem;
}

.footer .follow-us ul {
  padding: 1rem;
}

.footer .follow-us ul li {
  padding: 1rem 0;
}

.footer .copyright {
  grid-column: 1 / -1;
  border-top: 0.1rem solid lightskyblue;
}

.footer .copyright p {
  font-size: 1.6rem;
  color: #ffffff;
  padding-top: 1rem;
  text-transform: capitalize;
  text-align: center;
}

.footer .copyright p span {
  color: lightskyblue;
  font-weight: 500;
}